<style>


</style>

<h1>Project &quot;<%- project.label %>&quot; (<%- project._id.toString() %>)</h1>

<p><%- project.notes %></p>

<canvas width="1200" height="800" id="drawing">

</canvas>

<script language="JavaScript" src="/js/underscore-min.js">
</script>

<script language="JavaScript" src="/js/flowgraph/CORE.js">
</script>

<script language="JavaScript" src="/js/flowgraph/Stack.js">
</script>

<script language="JavaScript" src="/js/flowgraph/Layer.js">
</script>

<script language="JavaScript" src="/js/flowgraph/draw.js">
</script>

<script language="JavaScript" src="/js/flowgraph/sprites/Image.js">
</script>

<script language="JavaScript" src="/js/flowgraph/sprites/Toolbar.js">
</script>

<script language="JavaScript" src="/js/flowgraph/sprites/Item.js">
</script>

<script language="JavaScript" src="/js/flowgraph/screen/tool_bar.js">
</script>

<script language="JavaScript" src="/js/flowgraph/mouse.js">
</script>

<script language="JavaScript" src="/js/flowgraph/test.js">
</script>

<link rel="stylesheet" type="text/css" href="/js/libs/qunit/qunit.css"/>
<script type="text/javascript" src="/js/libs/qunit/qunit.js"></script>


<script language="JavaScript" defer="defer" src="/js/flowgraph/init.js">
</script>

<h1 id="qunit-header">QUnit example</h1>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">test markup, will be hidden</div>