<h1>Project &quot;<%- project.label %>&quot; (<%- project._id.toString() %>)</h1>

<p><%- project.notes %></p>

<canvas id="flowgraph_canvas" width="600" height="500" >

</canvas>

<script src="/js/libs/underscore-min.js" >

</script>

<script src="/js/libs/easel/lib/easel.js" >

</script>

<script src="/js/flowgraph_easel/easely_util.js" >

</script>

<script src="/js/flowgraph_easel/CORE.js" >

</script>

<script src="/js/flowgraph_easel/Toolbar.js" >

</script>

<script language="JavaScript">
    FLOWGRAPH_CORE.project_id = '<%= project._id %>';
    FLOWGRAPH_CORE.load(
            <%- JSON.stringify(project) %>
    );
</script>
