#canvas_frame{
  /*  position: absolute; */
    margin-bottom: 800px;
    height: 800px;
    border: 1px solid magenta;
    clear: both;
}

#canvas_inner {
    position: absolute;
}
#sprite_log {
    width: 600px; height: 300px; border: 1px solid black; overflow: scroll; position: absolute;
}

#fg_info td, #fg_info th {
    width: 120px;
    height: 20px;
    border: 1px solid black;
}

/* ***************** EDIT FORM *********************** */

.edit_form {
    background-color: rgb(204, 204, 215);
    border: 1px solid rgb(0, 25, 102);
    padding: 1em;
    width: 400px;
    position: absolute;
}

.edit_form {
    font-size: 100%;
    text-align: center;
    font-weight: bold;
    color: black;
}

.edit_form .item {
    margin-bottom: 3px;
    padding: 0px;
    text-align: left;
}

.edit_form .item label {
    display: inline-block;
    font-weight: bold;
    width: 80px;
    text-align: right;
}

.edit_form input[type="text"] {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: black;
    padding: 3px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 120%;
    width: 300px;
}